    

*{box-sizing: border-box;}

.categoria1__titulo{
    font-family: 'Proxima-Nova-SemiBold';
    color: hsl(216deg, 85%, 34%);
    padding: .1px;
    font-size: 2rem;
    width: 95%;
    margin: 2rem auto;
    text-align: center;}


    .overlay {
        position: relative;}


    .overlay__imagen{
        position: relative;
        
        width: 100%;
        height: 150px;
    }
.subtitulo{
    font-size: 1rem;
    text-align: center;
}

.catalogo{
    display: block;
    margin-top: 1rem;
    text-align: center;
    background-color:  hsl(216deg, 85%, 34%);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: .5rem;border: 1px solid hsl(216deg, 85%, 34%);
    transition: background-color .5s;
}
.cotizar{
    display: block;
    margin-top: 1rem;
    text-align: center;
    background-color:  hsl(216deg, 85%, 34%);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: .5rem;border: 1px solid hsl(216deg, 85%, 34%);
    transition: background-color .5s;
    margin-bottom: 3rem;
}

.catalogo:hover,.cotizar:hover{
    background-color: white;
    color:hsl(216deg, 85%, 34%) ;
    border: 1px solid hsl(216deg, 85%, 34%);
}



.overlay__formulario {
    background-color: rgb(145, 183, 192);
    position: fixed;
    top: 50px;
    height: 80%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
   
}
.cor{
    display: block;
}
.overlay__form{
    margin-top: 5rem;
}
.overlay__input{
    width: 100%;
    height: 35px;
}
.empresa{
    margin-bottom: 1.5rem;
}
.correo,.empresa{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.x{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    border: 2px solid;
    border-radius: 50%;
    color: black;
}



.overlay__submit{
    margin-top: 1.5rem;
}
.overlay__submit{
    text-align: center;
    display: block;
    color: white;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid hsl(216deg, 85%, 34%);
    background-color:hsl(216deg, 85%, 34%) ;
}
.extra{width: 94%;}
.telefono{
    margin-top: 1.5rem;    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.t{
    margin-left: 0;
}
@media screen and (min-width:1280px){
.t{margin-left: 98px;}
    .telefono{
        margin-top: 3rem;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .overlay__imagen{
     
        width: 100%;
     height: 300px;
    }
    .overlay__submit{
        margin-top: 3rem;
    }

    .empresa{
        margin-bottom: 3rem;
    }
.subtitulo{
    font-size: 1.5rem;
    text-align: initial;
    margin-left: 10px;
    margin-top: 2rem;
}
.overlay__input{
    width: 70%;
    height: 50px;
}
.cor{
    display: initial;
}
.catalogo{margin-left: 10px;
    width: 20%;
    padding: 1rem;




}
.overlay__label{
    font-size: 18px;
}
.cotizar{
    margin-top: 2rem;
    width: 20%;
    padding: 1rem;
    margin-bottom: 5rem;
}

.overlay__submit{
    width: 60%;
}

.e{
    margin-left: 10px;
}

.c{
    margin-left: 100px;
}

.overlay__formulario{
    background-color: rgb(145, 183, 192);
    position: fixed;
    top: 100px;
    height: 75%;
    width: 50%;
    left: 30%;
}




}


    .overlay__item{
        position: absolute;
    }

    .overlay__img{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .right {
        top: 90%;
        right: 50px;
        color: red;
        z-index: 2;
    }
    
    .left {
        font-weight: bold;
        top: 90%;
        right: 90px;
        color: black;
        z-index: 3;
    }
    
    .imagen1:not(.a){
        opacity: 0;
        display: block;
        transition: opacity .6s linear;
    }

    .aparece{
        opacity: 1;
    }
    .desaparece{
        opacity: 0;
    }


    .far{
        color: white;
    }

    